body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
}

.card {
  border: 1px solid hsl(220, 15%, 55%);
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 320px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 17px;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: -2px;
  color: hsl(218, 44%, 22%);
}

.card p {
  font-size: 1rem;
  color: hsl(220, 15%, 55%);
  line-height: 1.5;
}